<!DOCTYPE html>
<html>
    <head>
    </head>
<body>
    <h2>Sign-Up</h2>
    <p>
    <form action="/" method="POST">
        Username: <input type="text" name="username" value="{{un_value}}"> {{un_error}}<br>
        Password: <input type="password" name="password"> {{pw_error}}<br>
        Verify Password: <input type="password" name="vpassword"> {{vpw_error}}<br>
        Email (optional): <input type="text" name="email" value="{{email_value}}"> {{email_error}}<br>
        <input type="submit" name="submit" value="Submit">
    </form>
    </p>
</body>
</html>
